In [1]:
import requests
import lxml.html
from bs4 import BeautifulSoup
import re
import pandas as pd

# Experimented with getting any bullets after a 'bold' tag of "Qualifications".... It worked!

In [2]:
URL='https://www.indeed.com/viewjob?jk=11baba484db23433&from=serp&vjs=3'
r=requests.get(URL)
page=r.text
soup=BeautifulSoup(page,'lxml')

In [3]:
Qualifications_tag = soup.find('b', text=re.compile('Qualifications'))
try:
    ul_tag = Qualifications_tag.find_next('ul')
except AttributeError: 
    print("None Found")
else:
    for li_tag in ul_tag:
        print(li_tag.string)

Currently has or is in the process of obtaining their BA/BS or Masters in Computer Science, Mathematics, Economics, Statistics, Applied Sciences like Biostatistics, Physics, Chemistry, Computational Neurology

Some Engineering experience and or project course work using large data systems on SQL, Hadoop, etc.

Proficiency using one or more programming or scripting language to work with data such as: Python, Perl, or C#.

Some experience and or project course work performing data analysis and applying statistics working with tools such as: Excel, R, MATLAB, AMPL, or SAS.

Some experience and or project course work with product and service telemetry systems.

Some A/B Testing or experimentation (this can be from conducting real life science experiments, hypothesis testing in stats etc.) Not required but ideal.

Some experience or course work applying basic ML to a type of data and or used algorithms to conduct experiments on data. Machine Learning strongly encouraged.

Passion to learn from your peers, manager, and other stakeholders in the Data Science domain.

Ability to interact with peers and stakeholders to drive product and business impact.

Strong interpersonal and communications skills.

# Now to put it in a loop!
# First part of the code is just getting the website links to loop through.

In [4]:
#Doing this with up to 20 first until I know it works....

url_template="http://www.indeed.com/jobs?q=data_scientist&1=USA&start={}"
max_results=20
Linkdf=[]

for start in range(0, max_results, 10):
    url=url_template.format(start)
    html=requests.get(url)
    soup=BeautifulSoup(html.content,'html.parser', from_encoding="utf-8")
    
    #for each in soup.find_all(a_="href"):
    page_links=soup.find_all('a',{'href':re.compile("/rc/")})
    for items in page_links:
        Linkdf.append(items['href'])
        print(Linkdf) #Sanity Check

['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', '/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', '/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3', '/rc/clk?jk=42e7131e05fbcde9&fccid=877cae5cde4da80e&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', '/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3', '/rc/clk?jk=42e7131e05fbcde9&fccid=877cae5cde4da80e&vjs=3', '/rc/clk?jk=8f9b7aa5f39e2243&fccid=6d2f19785dd4c73c&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', '/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3', '/rc/clk?jk=42e7131e05fbcde9&fccid=877cae5cde4da80e&vjs=3', '/rc/clk?jk=8f9b7aa5f39e2243&fccid=6d2f19785dd4c73c&vjs=3', '/rc/clk?jk=be6aa74ccc100226&fccid=2a4da7fa99f4b9ae&vjs=3']
['/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', '/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', '/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', '/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', '/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', '/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3', '/rc/clk?jk=42e7131e05fbcde9&fccid=877cae5cde4da80e&vjs=3', '/rc/clk?jk=8f9b7aa5f39e2243&fccid=6d2f19785dd4c73c&vjs=3', '/rc/clk?jk=be6aa74ccc100226&fccid=2a4da7fa99f4b9ae&vjs=3', '/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3']

In [5]:
len(Linkdf)

11

In [6]:
#Create array with just last one (use the code above to use the right length)
Finallinks=Linkdf[:11]

#This code allows the code to display the full website instead of truncating
pd.set_option('display.max_colwidth',-1)

#Moving it to a data frame
data = {'links':Finallinks}
df = pd.DataFrame(data, columns=['links'])

#append indeed.com to the front of each
df['Web'] = 'https://www.indeed.com'
df['URL'] = df.Web.str.cat(df.links)

In [7]:
#pull out just a list of the websites.
websites=list(df['URL'])
print(websites) #Sanity Check

['https://www.indeed.com/rc/clk?jk=7a3d268e84204501&fccid=3d30677097704d8f&vjs=3', 'https://www.indeed.com/rc/clk?jk=9a4e048bd1eb19a4&fccid=d7ffd11f502090e7&vjs=3', 'https://www.indeed.com/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3', 'https://www.indeed.com/rc/clk?jk=5bc0cba280725c97&fccid=105ecfd0283f415f&vjs=3', 'https://www.indeed.com/rc/clk?jk=5af566d208e9064c&fccid=cafd7a52b7f2b408&vjs=3', 'https://www.indeed.com/rc/clk?jk=f7a1c4b21d7446a3&fccid=bf49b2e47bbdeffa&vjs=3', 'https://www.indeed.com/rc/clk?jk=2586022bd1e58e4e&fccid=750bb2e27e97e3c1&vjs=3', 'https://www.indeed.com/rc/clk?jk=42e7131e05fbcde9&fccid=877cae5cde4da80e&vjs=3', 'https://www.indeed.com/rc/clk?jk=8f9b7aa5f39e2243&fccid=6d2f19785dd4c73c&vjs=3', 'https://www.indeed.com/rc/clk?jk=be6aa74ccc100226&fccid=2a4da7fa99f4b9ae&vjs=3', 'https://www.indeed.com/rc/clk?jk=5ae853e2da7a2609&fccid=68ec8a8ee6cf5ac6&vjs=3']

# This is where the loop for Qualifications starts

## Pay attention to the last 3 lines...the location of the code makes a difference, but none are correct (yet)

## This loop prints only the last bulleted item

In [8]:
Qualifications=[]

for url in websites:
    r=requests.get(url)
    page=r.text
    soup=BeautifulSoup(page,'lxml')
    
    Qualifications_tag = soup.find('b', text=re.compile('Qualifications'))
    try:
        ul_tag = Qualifications_tag.find_next('ul')
    except AttributeError: 
        Qualification="None Found"
    else:
        for li_tag in ul_tag:
            Qualification=li_tag.string
    
    Qualifications.append(Qualification)
        #Qualifications.append(Qualification)
            #Qualifications.append(Qualification)

In [9]:
df_qualifications=pd.DataFrame({'Qualifications': Qualifications})
df_qualifications

                                                     Qualifications
0   None Found
1   None Found
2   \nExperience with time series or signal processing analytics.
3   None Found
4   None Found
5   Help Center
6   \n
7   None Found
8   \nExperience working with data at scale in the Hadoop ecosystem
9   None Found
10  \nExperience with time series or signal processing analytics.

## This loop prints only the last bulleted item and no 'None Found'.

In [10]:
Qualifications=[]

for url in websites:
    r=requests.get(url)
    page=r.text
    soup=BeautifulSoup(page,'lxml')
    
    Qualifications_tag = soup.find('b', text=re.compile('Qualifications'))
    try:
        ul_tag = Qualifications_tag.find_next('ul')
    except AttributeError: 
        Qualification="None Found"
    else:
        for li_tag in ul_tag:
            Qualification=li_tag.string
    
    #Qualifications.append(Qualification)
        Qualifications.append(Qualification)
            #Qualifications.append(Qualification)

In [11]:
df_qualifications=pd.DataFrame({'Qualifications': Qualifications})
df_qualifications

                                                    Qualifications
0  \nExperience with time series or signal processing analytics.
1  Help Center
2  \n
3  \nExperience working with data at scale in the Hadoop ecosystem
4  \nExperience with time series or signal processing analytics.

## This loop prints all of the bulleted items, but each on different lines and includes no 'none found'.

In [12]:
Qualifications=[]

for url in websites:
    r=requests.get(url)
    page=r.text
    soup=BeautifulSoup(page,'lxml')
    
    Qualifications_tag = soup.find('b', text=re.compile('Qualifications'))
    try:
        ul_tag = Qualifications_tag.find_next('ul')
    except AttributeError: 
        Qualification="None Found"
    else:
        for li_tag in ul_tag:
            Qualification=li_tag.string
    
    #Qualifications.append(Qualification)
        #Qualifications.append(Qualification)
            Qualifications.append(Qualification)

In [13]:
df_qualifications=pd.DataFrame({'Qualifications': Qualifications})
df_qualifications

                                                                                                                          Qualifications
0   \nBS Degree (Master’s preferred) Statistics, Machine Learning, Operations Research, Applied Math; or equivalent.
1   \n0 – 3 years of data science experience.
2   \nExperience with statistical and mathematical software
3   \nProven ability to develop system prototypes.
4   \nSQL skills
5   \nExcellent oral and written communication skills.
6   \nStrong documentation skills.
7   \nUnderstanding of machine learning techniques and the ability to invent.
8   \nBig data experience- Hadoop, Spark, Map-reduce, Hive, etc.
9   \nExperience with Agile methodology or similar lean startup approach to building software.
10  \nExperience with time series or signal processing analytics.
11  About
12  Help Center
13  \n
14  Intermediate knowledge of SQL
15  \n
16  A deep understanding of data concepts
17  \n
18  Eye For Business
19  \n
20  Interest in data visualization to tell a story
21  \n
22  Familiarity with Data Pipelines and ETL processes recommended practices
23  \n
24  You have a passion for this field and a good work ethic
25  \n
26  \nMaster’s degree or PhD in computer science, machine learning, data science, mathematics, statistics, or related quantitative field
27  \nThree years of experience in a data science or machine learning role
28  \nExcellent knowledge of major machine learning algorithms
29  \nFluent in Python and R
30  \nExperience with machine learning libraries and platforms, like Scikit-learn and Tensorflow
31  \nSolid statistical analysis skills and a good understanding of experimental design
32  \nExperience working with data at scale in the Hadoop ecosystem
33  \nBS Degree (Master’s preferred) Statistics, Machine Learning, Operations Research, Applied Math; or equivalent.
34  \n0 – 3 years of data science experience.
35  \nExperience with statistical and mathematical software
36  \nProven ability to develop system prototypes.
37  \nSQL skills
38  \nExcellent oral and written communication skills.
39  \nStrong documentation skills.
40  \nUnderstanding of machine learning techniques and the ability to invent.
41  \nBig data experience- Hadoop, Spark, Map-reduce, Hive, etc.
42  \nExperience with Agile methodology or similar lean startup approach to building software.
43  \nExperience with time series or signal processing analytics.

This loop has the most information but it's all on it's own line instead of by website.

In [33]:
Qualifications=[]
Qualification=[]

for url in websites:
    r=requests.get(url)
    page=r.text
    soup=BeautifulSoup(page,'lxml')
    
    Qualifications_tag = soup.find('b', text=re.compile('Qualifications'))
    try:
        ul_tag = Qualifications_tag.find_next('ul')
    except AttributeError: 
        Qualification="None Found"
        Qualifications.append(Qualification)
    else:
        for li_tag in ul_tag:
            Qualification=li_tag.string
            Qualifications.append(Qualification)

In [34]:
df_qualifications=pd.DataFrame({'Qualifications': Qualifications})
df_qualifications

                                                                                                                          Qualifications
0   None Found
1   None Found
2   \nBS Degree (Master’s preferred) Statistics, Machine Learning, Operations Research, Applied Math; or equivalent.
3   \n0 – 3 years of data science experience.
4   \nExperience with statistical and mathematical software
5   \nProven ability to develop system prototypes.
6   \nSQL skills
7   \nExcellent oral and written communication skills.
8   \nStrong documentation skills.
9   \nUnderstanding of machine learning techniques and the ability to invent.
10  \nBig data experience- Hadoop, Spark, Map-reduce, Hive, etc.
11  \nExperience with Agile methodology or similar lean startup approach to building software.
12  \nExperience with time series or signal processing analytics.
13  None Found
14  None Found
15  About
16  Help Center
17  \n
18  Intermediate knowledge of SQL
19  \n
20  A deep understanding of data concepts
21  \n
22  Eye For Business
23  \n
24  Interest in data visualization to tell a story
25  \n
26  Familiarity with Data Pipelines and ETL processes recommended practices
27  \n
28  You have a passion for this field and a good work ethic
29  \n
30  None Found
31  \nMaster’s degree or PhD in computer science, machine learning, data science, mathematics, statistics, or related quantitative field
32  \nThree years of experience in a data science or machine learning role
33  \nExcellent knowledge of major machine learning algorithms
34  \nFluent in Python and R
35  \nExperience with machine learning libraries and platforms, like Scikit-learn and Tensorflow
36  \nSolid statistical analysis skills and a good understanding of experimental design
37  \nExperience working with data at scale in the Hadoop ecosystem
38  None Found
39  \nBS Degree (Master’s preferred) Statistics, Machine Learning, Operations Research, Applied Math; or equivalent.
40  \n0 – 3 years of data science experience.
41  \nExperience with statistical and mathematical software
42  \nProven ability to develop system prototypes.
43  \nSQL skills
44  \nExcellent oral and written communication skills.
45  \nStrong documentation skills.
46  \nUnderstanding of machine learning techniques and the ability to invent.
47  \nBig data experience- Hadoop, Spark, Map-reduce, Hive, etc.
48  \nExperience with Agile methodology or similar lean startup approach to building software.
49  \nExperience with time series or signal processing analytics.